::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c2f33;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #23272a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #202527;
}

.divTable{
    display: table;
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.divTableHeader {
    background: #23272a;
    text-align: center;
    font-weight: bold;
    color: #99aab5;
    border: 1px solid #999999;
    border-radius: 10px;
    display: table-cell;
    padding: 3px 10px;
}

.divTableRow {
    display: table-row;
}

.divTableCell {
    border: 1px solid #999999;
    border-radius: 10px;
    display: table-cell;
    padding: 3px 10px;
    background: rgba(35,39,42,0.6);
    text-align: center;
    color: #99aab5;
}

.divTableBody {
    display: table-row-group;
}

.footer {
    padding: 50px;
}

.form {
    border: 5px solid #99aab5;
    border-radius: 10px;
    color: #99aab5;
    max-width: 40%;
    margin: auto;
}

.form-item {
    text-align: center;
    position: relative;
    padding: 10px;
}

.countdown {
    text-align: center;
    padding: 50px;
    font-size: xx-large;
    max-width: 50%;
    margin: auto;
    color: #99aab5;
    font-weight: bold;
}

.data {
    color: #7289da;
    font-weight: bold;
}

.card-container {
    display: flex;
    padding: 20px;
}

.card {
    color: #99aab5;
    border: 5px solid #99aab5;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    flex: 1 1 0px;
}

.header-title {
    text-align: center;
    float: left;
}

.header-item {
    text-align: center;
    float: right;
    flex-grow: 1;
}

.header {
    display: flex;
    text-align: center;
    background: #23272a;
    padding: 10px;
    margin-bottom: 30px;
}

.button-container {
    padding-top: 50px;
    text-align: center;
}

.button {
    background: #23272a;
    color: #7289da;
    border: 2px solid #23272a;
    outline: none;
    border-radius: 10px;
    font-size: large;
    padding: 10px;
}

.button:active {
    background: #202527;
    transform: translateY(4px);
}

.button:hover {
    background: #202527;
    color: #4259aa;
}

h1, h2 {
    color: #99aab5;
}

.link {
    color: #7289da;
}

.link:hover {
    color: #4259aa;
}

a {
    text-decoration: none;
}

body {
    background: #2c2f33;
    font-size: large;
    font-family: sans-serif;
}
