<!doctype HTML>
<html lang="en">
    <head>
        <title>GTFO Loadout Randomiser</title>

        <meta charset="utf-8"/>
        <meta name="description" content="Loadout and stage randomiser with daily challenges and leaderboards for the popular hardcore horror game GTFO">
        <meta name="keywords" content="GTFO, randomiser, leaderboards, daily challenges">

        <meta property="og:title" content="GTFO Loadout Randomiser">
        <meta property="og:description" content="Loadout and stage randomiser for the popular hardcore horror game GTFO">
        <meta property="og:url" content="https://gtfo-randomiser.herokuapp.com/daily">
        <meta property="og:site_name" content="GTFO Loadout Randomiser">

        <link rel="stylesheet" href="../static/styles.css">
        <script src="../static/countdown.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="header-item header-title">
                <a href="/"><h1>GTFO Loadout Randomiser</h1></a>
            </div>
            <div class="header-item">
                <a href="/"><h1>Back</h1></a>
            </div>
            <div class="header-item" style="flex-grow: 0; margin-top: auto; margin-bottom: auto">
                <a href="https://discord.gg/bQn6DYyt5X" target="_blank">
                    <h3 style="color: #7289da">Discord<br>Server</h3>
                </a>
            </div>
        </div>

        <div style="text-align: center; padding: 20px;">
            <h1>Daily Challenge</h1>
        </div>

        <div class="card-container">
            {% for n, player in players %}
                <div class="card">
                    <h2>Player {{n}}</h2>
                    <div id={{n}}>
                        {% for line, data in player %}
                            <p>{{ line }} <span class="data">{{ data }}</span></p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>

        <div class="card-container">
            <div class="card" style="margin: auto;max-width: 50%;">
                <h2>Stage: <span class="data">{{ stage }}</span></h2>
                <h2>Difficulty: <span class="data">{{ difficulty }}</span></h2>
            </div>
        </div>

        <div class="countdown">
            <p>Time Until Next Daily Challenge: <span class="data" id="countdown"></span></p>
        </div>

        <hr style="max-width: 80%">

        <div style="text-align: center; padding: 20px;">
            <h1>Leaderboard</h1>
        </div>

        <div class="form">
            <div class="form-item">
                <b>Complete the form below to submit your daily run to the leaderboard.</b><br>
                Evidence should be a screenshot of the stage completion screen
                or a video of the completion of the entire stage.
            </div>
            <form action="/api/submit_daily" method="post">
                <div class="form-item">
                    <label for="hours">Time to complete:</label>
                    <select id="hours" name="hours" required>
                        {% for i in range(24) %}
                            <option value={{ i }}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    <label for="minutes">h</label>
                    <select id="minutes" name="minutes" required>
                        {% for i in range(60) %}
                            <option value={{ i }}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    <label for="seconds">m</label>
                    <select id="seconds" name="seconds" required>
                        {% for i in range(60) %}
                            <option value={{ i }}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    s
                </div>
                <div class="form-item">
                    <label for="imagelink">Evidence URL:</label>
                    <input type="url" id="imagelink" name="imagelink" required><br>
                </div>
                <div class="form-item">
                    <input type="submit" value="Submit" class="button">
                </div>
            </form>
        </div>

        <div class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableHeader">Position</div>
                    <div class="divTableHeader">Completion Time</div>
                    <div class="divTableHeader">Evidence</div>
                    <div class="divTableHeader">Verified</div>
                    <div class="divTableHeader">Run ID</div>
                </div>
                {% for pos, time, url, verif, rid in runs_data %}
                    <div class="divTableRow">
                        <div class="divTableCell">{{ pos }}</div>
                        <div class="divTableCell">{{ time }}</div>
                        <div class="divTableCell"><a class="link" href={{ url }}>Click Here</a></div>
                        <div class="divTableCell">{{ verif }}</div>
                        <div class="divTableCell">{{ rid }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="footer"></div>
    </body>
</html>
