<!doctype HTML>
<html lang="en">
    <link rel="stylesheet" href="../static/styles.css">

    <script src="../static/countdown.js"></script>
    <title>GTFO Loadout Randomiser</title>
    <body>
        <div class="header">
            <div class="header-item header-title">
                <a href="index.html"><h1>GTFO Loadout Randomiser</h1></a>
            </div>
            <div class="header-item">
                <a href="index.html"><h1>Back</h1></a>
            </div>
        </div>

        <div style="text-align: center; padding: 20px;">
            <h1>Daily Challenge</h1>
        </div>

        <div class="card-container">
            {% for n, player in players %}
                <div class="card">
                    <h2>Player {{n}}</h2>
                    <div id={{n}}>
                        {% for line, data in player %}
                            <p>{{ line }} <span class="data">{{ data }}</span></p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>

        <div class="card-container">
            <div class="card" style="margin: auto;max-width: 50%;">
                <h2>Stage: <span class="data">{{ stage }}</span></h2>
                <h2>Difficulty: <span class="data">{{ difficulty }}</span></h2>
            </div>
        </div>

        <div class="countdown">
            <p>Time Until Next Daily Challenge: <span class="data" id="countdown"></span></p>
        </div>
    </body>
</html>
