<!doctype HTML>
<html lang="en">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/get_data.js"></script>

    <title>GTFO Loadout Randomiser</title>
    <body>
        <div class="header">
            <div class="header-item header-title">
                <h1>An Error Occurred</h1>
            </div>
        </div>

        <div class="card-container">
            <div class="card" style="max-width: 50%; margin: auto;">
                <h2>500</h2>
                <p>Something Went Wrong :(</p>
                <p>(Try again later)</p>
            </div>
        </div>

        <div class="button-container">
            <button class="button" style="font-size: xx-large;" onclick="location.href = 'https://gtfo-randomiser.herokuapp.com';">Back</button>
        </div>

    </body>
</html>
