<!doctype HTML>
<html lang="en">
    <head>
        <title>GTFO Loadout Randomiser</title>

        <meta charset="utf-8"/>
        <meta name="description" content="Loadout and stage randomiser with daily challenges and leaderboards for the popular hardcore horror game GTFO">
        <meta name="keywords" content="GTFO, randomiser, leaderboards, daily challenges">

        <meta name="google-site-verification" content="lIl1fAAc25njR2l-8ABjI-berpd6Ws12nE6imKAGdP0"/>

        <meta property="og:title" content="GTFO Loadout Randomiser">
        <meta property="og:description" content="Loadout and stage randomiser for the popular hardcore horror game GTFO">
        <meta property="og:url" content="https://gtfo-randomiser.herokuapp.com/">
        <meta property="og:site_name" content="GTFO Loadout Randomiser">

        <link rel="stylesheet" href="../static/styles.css">
        <script src="../static/get_data.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="header-item header-title">
                <h1>GTFO Loadout Randomiser</h1>
            </div>
            <div class="header-item">
                <a href=daily><h1>Daily</h1></a>
            </div>
            <div class="header-item" style="flex-grow: 0; margin-top: auto; margin-bottom: auto">
                <a href="https://discord.gg/bQn6DYyt5X" target="_blank">
                    <h3 style="color: #7289da">Discord<br>Server</h3>
                </a>
            </div>
        </div>

        <div class="card-container">
            {% for player in players %}
                <div class="card">
                    <h2>Player {{player}}</h2>
                    <div id={{player}}>
                        {% for line, data in player_card_default_data %}
                            <p>{{ line }} <span class="data">{{ data }}</span></p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>

        <div class="card-container">
            <div class="card" style="margin: auto;max-width: 50%;">
                <h2>Stage: <span class="data" id="stage">...</span></h2>
                <h2>Difficulty: <span class="data" id="difficulty">...</span></h2>
            </div>
        </div>

        <div class="button-container">
            <h2>Generate Random Loadout</h2>
            {% for rundown in rundown_ids %}
                <button class="button" onclick="get_loadout({{rundown}})">Rundown {{ rundown }}</button>
            {% endfor %}
        </div>

        <hr style="max-width: 80%">

        <h2 style="text-align: center; padding-top: 50px">Challenge too easy?<br>Try with a handicap:</h2>
        <div class="card-container">
            <div class="card" style="max-width: 50%; margin: auto;">
                <h2>Handicap:</h2>
                <h3><span class="data" id="handicap">{{ handicap }}</span></h3>
                <button class="button" onclick="get_handicap()">Reroll handicap</button>
                <p>Join the <a href="https://discord.gg/bQn6DYyt5X" target="_blank"><span class="data">Discord Server</span></a> to suggest new handicaps.</p>
            </div>
        </div>

        <div class="footer"></div>
    </body>
</html>
